.footer{
    width: 100%;
    height: auto;
    background-color: #03429ac9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.nav_footer{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    font-family: 'Angelina';
}

.ul_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
